<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhh.mapper.SysDataDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.xhh.pojo.SysDataDictionary" >
    <id column="dictionary_id" property="dictionaryId" jdbcType="INTEGER" />
    <result column="dictionary_catalog" property="dictionaryCatalog" jdbcType="VARCHAR" />
    <result column="dictionary_level" property="dictionaryLevel" jdbcType="INTEGER" />
    <result column="dictionary_name" property="dictionaryName" jdbcType="VARCHAR" />
    <result column="dictionary_key" property="dictionaryKey" jdbcType="INTEGER" />
    <result column="dictionary_value" property="dictionaryValue" jdbcType="VARCHAR" />
    <result column="dictionary_memo" property="dictionaryMemo" jdbcType="VARCHAR" />
    <result column="dictionary_is_use" property="dictionaryIsUse" jdbcType="INTEGER" />
    <result column="parent_dictionary_id" property="parentDictionaryId" jdbcType="INTEGER" />
    <result column="dictionary_id_path" property="dictionaryIdPath" jdbcType="VARCHAR" />
    <result column="allow_edit" property="allowEdit" jdbcType="INTEGER" />
  </resultMap>
  <!--查询字典信息-->
  <select id="findAllDictionary" resultMap="BaseResultMap">
       select dictionary_id,dictionary_catalog,dictionary_level,dictionary_name,dictionary_key,dictionary_value,dictionary_memo,dictionary_is_use,parent_dictionary_id,
           dictionary_id_path,allow_edit from sys_data_dictionary
       <where>
            <if test="dictionary_catalog != null and dictionary_catalog != ''">
              and dictionary_catalog = #{dictionaryCatalog}
            </if>
            <if test="dictionary_value != null and dictionary_value != ''">
              and dictionary_value = #{dictionaryValue}
            </if>
       </where>
  </select>

  <!--删除字典信息-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_data_dictionary
    where dictionary_id = #{dictionaryId,jdbcType=INTEGER}
  </delete>


  <!--增加字典信息-->
  <insert id="insert" parameterType="com.xhh.pojo.SysDataDictionary" >
    insert into sys_data_dictionary (dictionary_id, dictionary_catalog, 
      dictionary_level, dictionary_name, dictionary_key, 
      dictionary_value, dictionary_memo, dictionary_is_use, 
      parent_dictionary_id, dictionary_id_path, allow_edit
      )
    values (#{dictionaryId,jdbcType=INTEGER}, #{dictionaryCatalog,jdbcType=VARCHAR}, 
      #{dictionaryLevel,jdbcType=INTEGER}, #{dictionaryName,jdbcType=VARCHAR}, #{dictionaryKey,jdbcType=INTEGER}, 
      #{dictionaryValue,jdbcType=VARCHAR}, #{dictionaryMemo,jdbcType=VARCHAR}, #{dictionaryIsUse,jdbcType=INTEGER}, 
      #{parentDictionaryId,jdbcType=INTEGER}, #{dictionaryIdPath,jdbcType=VARCHAR}, #{allowEdit,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xhh.pojo.SysDataDictionary" >
    insert into sys_data_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictionaryId != null" >
        dictionary_id,
      </if>
      <if test="dictionaryCatalog != null" >
        dictionary_catalog,
      </if>
      <if test="dictionaryLevel != null" >
        dictionary_level,
      </if>
      <if test="dictionaryName != null" >
        dictionary_name,
      </if>
      <if test="dictionaryKey != null" >
        dictionary_key,
      </if>
      <if test="dictionaryValue != null" >
        dictionary_value,
      </if>
      <if test="dictionaryMemo != null" >
        dictionary_memo,
      </if>
      <if test="dictionaryIsUse != null" >
        dictionary_is_use,
      </if>
      <if test="parentDictionaryId != null" >
        parent_dictionary_id,
      </if>
      <if test="dictionaryIdPath != null" >
        dictionary_id_path,
      </if>
      <if test="allowEdit != null" >
        allow_edit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictionaryId != null" >
        #{dictionaryId,jdbcType=INTEGER},
      </if>
      <if test="dictionaryCatalog != null" >
        #{dictionaryCatalog,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryLevel != null" >
        #{dictionaryLevel,jdbcType=INTEGER},
      </if>
      <if test="dictionaryName != null" >
        #{dictionaryName,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryKey != null" >
        #{dictionaryKey,jdbcType=INTEGER},
      </if>
      <if test="dictionaryValue != null" >
        #{dictionaryValue,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryMemo != null" >
        #{dictionaryMemo,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryIsUse != null" >
        #{dictionaryIsUse,jdbcType=INTEGER},
      </if>
      <if test="parentDictionaryId != null" >
        #{parentDictionaryId,jdbcType=INTEGER},
      </if>
      <if test="dictionaryIdPath != null" >
        #{dictionaryIdPath,jdbcType=VARCHAR},
      </if>
      <if test="allowEdit != null" >
        #{allowEdit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <!--修改字典信息-->
  <update id="updateByPrimaryKeySelective" parameterType="com.xhh.pojo.SysDataDictionary" >
    update sys_data_dictionary
    <set >
      <if test="dictionaryCatalog != null" >
        dictionary_catalog = #{dictionaryCatalog,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryLevel != null" >
        dictionary_level = #{dictionaryLevel,jdbcType=INTEGER},
      </if>
      <if test="dictionaryName != null" >
        dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryKey != null" >
        dictionary_key = #{dictionaryKey,jdbcType=INTEGER},
      </if>
      <if test="dictionaryValue != null" >
        dictionary_value = #{dictionaryValue,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryMemo != null" >
        dictionary_memo = #{dictionaryMemo,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryIsUse != null" >
        dictionary_is_use = #{dictionaryIsUse,jdbcType=INTEGER},
      </if>
      <if test="parentDictionaryId != null" >
        parent_dictionary_id = #{parentDictionaryId,jdbcType=INTEGER},
      </if>
      <if test="dictionaryIdPath != null" >
        dictionary_id_path = #{dictionaryIdPath,jdbcType=VARCHAR},
      </if>
      <if test="allowEdit != null" >
        allow_edit = #{allowEdit,jdbcType=INTEGER},
      </if>
    </set>
    where dictionary_id = #{dictionaryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhh.pojo.SysDataDictionary" >
    update sys_data_dictionary
    set dictionary_catalog = #{dictionaryCatalog,jdbcType=VARCHAR},
      dictionary_level = #{dictionaryLevel,jdbcType=INTEGER},
      dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
      dictionary_key = #{dictionaryKey,jdbcType=INTEGER},
      dictionary_value = #{dictionaryValue,jdbcType=VARCHAR},
      dictionary_memo = #{dictionaryMemo,jdbcType=VARCHAR},
      dictionary_is_use = #{dictionaryIsUse,jdbcType=INTEGER},
      parent_dictionary_id = #{parentDictionaryId,jdbcType=INTEGER},
      dictionary_id_path = #{dictionaryIdPath,jdbcType=VARCHAR},
      allow_edit = #{allowEdit,jdbcType=INTEGER}
    where dictionary_id = #{dictionaryId,jdbcType=INTEGER}
  </update>
</mapper>